alacritty
brightnessctl
dunst
grim
htop
imagemagick
jq
libnotify
networkmanager
noto-fonts-emoji
pavucontrol
pipewire 
pipewire-pulse 
power-profiles-daemon
slurp
sway
swaylock
ttf-font-awesome
ttf-jetbrains-mono
waybar
wayland
wireplumber
wl-clipboard
wofi
wtype
yad

# install with yay
nwg-displays # display configurator
ttf-nerd-fonts-symbols-mono

# modified repo
https://github.com/JBongars/avizo/tree/darkmode-patch
